body {
    background: rgb(33, 40, 37);
    color: rgb(147, 209, 182);
    text-shadow: 0 0 4px rgb(114, 243, 187);
    font-size: 1.5rem;
    font-family: "Share Tech Mono", monospace;
    cursor: url('cursor.png'),auto;
  }

  .share-tech {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  #shell p {
    margin: 12px 12px 0px 12px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-family: "Share Tech Mono", monospace;
    color: rgb(147, 209, 182, 0.6);
    text-shadow: 0 0 4px rgba(114, 243, 187, 0.6);
    font-weight: 400;
    font-style: normal;
  }

  .wrong {
    color: rgb(212, 112, 112);
    text-shadow: 0 0 4px rgb(212, 112, 112);

  }

  .correct {
    color: rgb(112, 120, 212);
    text-shadow: 0 0 4px rgb(112, 120, 212);

  }

  pre {
    margin: auto;
    margin-top: 2vh;
    display: table;
  }

  view {
    margin: auto;
    width: 60%;
  }

  #lattice {
    margin: auto;
    width: 60%;
  }

  .row {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 15px;
  }
  
  .grid {
      display: grid;
      grid-template-columns: repeat(13, 40px); /* 13 values + 1 for header */
      gap: 0px;
      margin-top: 20px;
    }

  .patch {  
      background: rgb(33, 40, 37);
      width: 20px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      user-select: none;
    }

  .sq {
    width: 7.6923%;
    height: 15px;
    background-color: rgb(147, 209, 182);
    display: inline-block;
  }

  cell {
    margin: auto;
    margin-top: 1vh;
    width: 90%;
    display: table;
  }

  #glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* ensure the effect doesn't cover the text */
    background: radial-gradient(rgb(49, 55, 53) 0%, rgb(11, 32, 24) 70%);
  }

  @keyframes lines {
    0% {background-position: 0px 0px}
    50% {background-position: 0px 0px}
    51% {background-position: 0px 2px}
    100% {background-position: 0px 2px}
  }

  #interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, rgba(0, 0, 0, 0.3) 3px 4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    animation: lines 0.066666666s linear infinite;
  }

  @keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
  }

  .blink {
    animation: blink 0.4s linear infinite;
  }